fastapi
uvicorn[standard]
websockets
numpy
python-multipart
roslibpy
pydantic
pydantic-settings
aiofiles
python-json-logger
trimesh
scipy
networkx
minio
pycollada
sqlmodel
aiomysql
sqlalchemy
nacos-sdk-python==0.1.15
